<div class="js-modal-suitability max-width:80" style="width:100%; max-width: 400px;">
  <div class="card card:suitability">
    <div class="card/content padding:5 padding-bottom:none">
      <h3 class="font font-size:h3 font-size-sm:h2 font-leading:0 align:center margin-bottom:3">
        Suitability <span class="font font-weight:bold font:underline color:primary">Quiz</span>
      </h3>
      <h6 class="font font-size:h6 font-weight:regular align:center margin-bottom:3">Answer the questions below to see if Fergus is the right fit for you</h6>
    </div>
    <div class="card/footer padding:none">
      <iframe src="https://fergusapp.typeform.com/to/bNPMbx"></iframe>
    </div>
  </div>
</div>
