<!-- logo white -->
<table id="module-logo-white" class="mktoModule" mktoname="Module - Logo White" align="center" border="0" cellpadding="0" cellspacing="0" width="650" style="border-collapse: collapse; border-spacing: 0; padding: 0; width: 100%; max-width: 650px;">
  <tr>
    <td align="center" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0;">
      <img src="https://fergus.com/assets/images/fergus-horizontal-white@2x.png" width="150" style="display: block; width: 150px;">
    </td>
  </tr>
</table>
<!-- end logo white -->
