<script src="https://app-sn04.marketo.com/js/forms2/js/forms2.min.js"></script>

<script>
  MktoForms2.loadForm("https://app-sn04.marketo.com", "163-RUO-573", 1297);
  MktoForms2.loadForm("https://app-sn04.marketo.com", "163-RUO-573", 1304);
  MktoForms2.loadForm("https://app-sn04.marketo.com", "163-RUO-573", 1303);
  MktoForms2.loadForm("https://app-sn04.marketo.com", "163-RUO-573", 1302);
  MktoForms2.loadForm("https://app-sn04.marketo.com", "163-RUO-573", 1300);
  MktoForms2.loadForm("https://app-sn04.marketo.com", "163-RUO-573", 1299);
</script>

<!-- Register Stage 1 - Done -->
<form id = "mktoForm_1297" style = "display:none"></form>

<!-- P&L Calculator - Done -->
<form id = "mktoForm_1304" style = "display:none"> </form>

<!-- Feature Checklist - Done -->
<form id = "mktoForm_1303" style = "display:none"> </form>

<!-- Blog Subscription - Done -->
<form id = "mktoForm_1302" style = "display:none"> </form>

<!-- Demo Request - Done -->
<form id = "mktoForm_1300" style = "display:none"> </form>

<!-- Partner Request - Done -->
<form id = "mktoForm_1299" style = "display:none"> </form>

{{ partial "partial/modals/modal-register"}}
{{ partial "partial/modals/modal-suitability"}}
{{ partial "partial/modals/modal-feature-checklist"}}
{{ partial "partial/modals/modal-feature-comparison"}}
{{ partial "partial/modals/modal-subscribe"}}
{{ partial "partial/modals/modal-demo"}}
{{ partial "partial/modals/modal-calculator"}}
<script src="/assets/js/main.js"></script>
</body>
</html>
