{{ partial "email/default-head" }}

<body topmargin="0" rightmargin="0" bottommargin="0" leftmargin="0" marginwidth="0" marginheight="0" width="100%" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; width: 100%; height: 100%; -webkit-font-smoothing: antialiased; text-size-adjust: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; line-height: 100%; background-color: #001547;">

<!-- MAIN BG -->
<table width="100%" align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; width: 100%;">
	<tr>
		<td align="center" valign="top" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0;" bgcolor="#001547">

			{{ partial "email/padding-20.html" }}

			<!-- header -->
			<table align="center" border="0" cellpadding="0" cellspacing="0" width="650" style="border-collapse: collapse; border-spacing: 0; padding: 0; width: 100%; max-width: 650px;">
				<tr>
					<td align="center" valign="top" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0;">
						<a {{ printf "href=%q" "{{system.viewAsWebpageLink}}" | safeHTMLAttr }} target="_blank" style="font-family: 'Theinhardt Web', sans-serif; font-size: 13px; color: #ffdd24; text-decoration: none;">View this email in your browser</a>
					</td>
				</tr>
			</table>
			<!-- end header -->

			{{ partial "email/padding-60.html" }}
			{{ partial "email/logo-white.html" }}
			{{ partial "email/padding-40.html" }}
			{{ partial "email/h1-white.html" }}
			{{ partial "email/padding-20.html" }}
			{{ partial "email/h2-white.html" }}
			{{ partial "email/padding-60.html" }}

			<!-- main -->
			<table align="center" border="0" cellpadding="0" cellspacing="0" width="650" style="border-collapse: collapse; border-spacing: 0; padding: 0; width: 100%; max-width: 650px; background-color: white">
			  <tr>
			    <td align="center" class="mktoContainer" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0;">

						{{ partial "email/padding-60.html" }}

						<!-- logo white -->
						<table id="module-logo-white" class="mktoModule" align="center" border="0" cellpadding="0" cellspacing="0" width="650" style="border-collapse: collapse; border-spacing: 0; padding: 0; width: 100%; max-width: 650px;">
							<tr>
								<td align="center" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0;">
									<img src="https://fergus.com/assets/images/fergus-horizontal@2x.png" width="150" style="display: block; width: 150px;">
								</td>
							</tr>
						</table>
						<!-- end logo white -->

						{{ partial "email/padding-20.html" }}

						<!-- h1 -->
						<table id="module-h1" class="mktoModule" align="center" border="0" cellpadding="0" cellspacing="0" width="650" style="border-collapse: collapse; border-spacing: 0; padding: 0; width: 100%; max-width: 650px;">
							<tr>
								<td align="center" class="container" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 20px; padding-right: 20px; font-family: 'Theinhardt Web', sans-serif; font-size: 32px; font-weight: 600; line-height: 130%; color: #001547;">
									<div id="module-h1__title" class="mktoText">
										Quote, estimate and invoice
									</div>
								</td>
							</tr>
						</table>
						<!-- end h1 -->

						{{ partial "email/padding-20.html" }}

						<!-- h2 -->
						<table id="module-h2" class="mktoModule" align="center" border="0" cellpadding="0" cellspacing="0" width="650" style="border-collapse: collapse; border-spacing: 0; padding: 0; width: 100%; max-width: 650px;">
							<tr>
								<td align="center" class="container" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 20px; padding-right: 20px; font-family: 'Theinhardt Web', sans-serif; font-size: 18px; font-weight: 400; line-height: 130%; color: #001547;">
									<div id="module-h2__title" class="mktoText">
										All from the same place. Forget data entry.
									</div>
								</td>
							</tr>
						</table>
						<!-- end h2 -->

						{{ partial "email/padding-60.html" }}

						<!-- content -->
						<table id="module-content" class="mktoModule" border="0" cellpadding="0" cellspacing="0" width="650" style="border-collapse: collapse; border-spacing: 0; padding: 0; width: 100%; max-width: 650px; background-color:#ebeff7">
							<tr>
								<td align="center" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0;">

									<!-- padding 40 -->
									<table align="center" border="0" cellpadding="0" cellspacing="0" width="650" style="border-collapse: collapse; border-spacing: 0; padding: 0; width: 100%; max-width: 650px;">
									  <tr>
									    <td align="center" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-top: 40px;">
									    </td>
									  </tr>
									</table>
									<!-- padding 40 -->

									<table align="center" border="0" cellpadding="0" cellspacing="0" width="650" style="border-collapse: collapse; border-spacing: 0; padding: 0; width: 100%; max-width: 650px; display: ${module-content__title-switch}">
										<tr>
											<td style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 40px; padding-right: 40px; font-family: 'Theinhardt Web', sans-serif; font-size: 22px; font-weight: 600; line-height: 130%; color: #001547;">
												<div id="module-content__title" class="mktoText">
			                    Welcome Name
			                  </div>
												<!-- padding 20 -->
												<table align="center" border="0" cellpadding="0" cellspacing="0" width="650" style="border-collapse: collapse; border-spacing: 0; padding: 0; width: 100%; max-width: 650px;">
												  <tr>
												    <td align="center" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-top: 20px;">
												    </td>
												  </tr>
												</table>
												<!-- padding 20 -->
											</td>
										</tr>

										<tr>
			               <td style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 40px; padding-right: 40px; font-family: 'Theinhardt Web', sans-serif; font-size: 15px; font-weight: 400; line-height: 24px; color: #545e75; ">
			                  <div id="module-content__body" class="mktoText">
			                    Praesent sed diam fermentum, lobortis est non, vehicula sapien. Duis pretium ligula sed nibh varius porta. Vivamus vel augue ornare, tincidunt mauris eget, egestas urna. Fusce rutrum eleifend mauris, sit amet rhoncus augue aliquam quis. Donec feugiat ex quis mattis convallis. Proin sollicitudin tincidunt quam sit amet porta. Vivamus pretium cursus risus, non dignissim neque ullamcorper a.
			                  </div>
			                </td>
			              </tr>
									</table>

									<!-- padding 40 -->
									<table align="center" border="0" cellpadding="0" cellspacing="0" width="650" style="border-collapse: collapse; border-spacing: 0; padding: 0; width: 100%; max-width: 650px;">
									  <tr>
									    <td align="center" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-top: 40px;">
									    </td>
									  </tr>
									</table>
									<!-- padding 40 -->

								</td>
							</tr>
						</table>
						<!-- end content -->

						{{ partial "email/padding-40.html" }}

						<!-- h2 -->
						<table id="module-h2" class="mktoModule" align="center" border="0" cellpadding="0" cellspacing="0" width="650" style="border-collapse: collapse; border-spacing: 0; padding: 0; width: 100%; max-width: 650px;">
							<tr>
								<td align="center" class="container" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 20px; padding-right: 20px; font-family: 'Theinhardt Web', sans-serif; font-size: 18px; font-weight: 600; line-height: 130%; color: #001547;">
									<div id="module-h2__title" class="mktoText">
										Start your free trial
									</div>
								</td>
							</tr>
						</table>
						<!-- end h2 -->

						{{ partial "email/padding-20.html" }}

						<!-- button -->
						<table id="module-button" class="mktoModule" align="center" border="0" cellpadding="0" cellspacing="0" width="650" style="border-collapse: collapse; border-spacing: 0; padding: 0; width: 100%; max-width: 650px;">
							<tr>
								<td align="center" class="container" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 20px; padding-right: 20px;">
									<a href="${module-button-link}" style=" background-color: #0036d0; border-radius: 5px; color: #ffdd24; display: inline-block; font-family: 'Theinhardt Web', sans-serif; font-size: 12px; font-weight: 600; line-height: 50px; text-align: center; text-decoration: none; text-transform: uppercase; width: 220px; -webkit-text-size-adjust: none;">${module-button-text}</a>
								</td>
							</tr>
						</table>
						<!-- end button -->

						{{ partial "email/padding-40.html" }}

						<!-- line -->
						<table id="module-line" class="mktoModule" align="center" border="0" cellpadding="0" cellspacing="0" width="650" style="border-collapse: collapse; border-spacing: 0; padding: 0; width: 100%; max-width: 650px;">
							<tr>
								<td align="center" class="container" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 40px; padding-right: 40px;">
									<hr align="center" noshade="" size="1" width="100%" style="margin: 0; padding: 0; border-color: #e5e6e8;" >
								</td>
							</tr>
						</table>
						<!-- end line -->

						{{ partial "email/padding-40.html" }}

						<!-- h2 -->
						<table id="module-h2" class="mktoModule" align="center" border="0" cellpadding="0" cellspacing="0" width="650" style="border-collapse: collapse; border-spacing: 0; padding: 0; width: 100%; max-width: 650px;">
							<tr>
								<td align="center" class="container" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 20px; padding-right: 20px; font-family: 'Theinhardt Web', sans-serif; font-size: 18px; font-weight: 600; line-height: 130%; color: #001547;">
									<div id="module-h2__title" class="mktoText">
										Intro title goes here
									</div>
								</td>
							</tr>
						</table>
						<!-- end h2 -->

						{{ partial "email/padding-20.html" }}

						<!-- p -->
						<table id="module-p" class="mktoModule" align="center" border="0" cellpadding="0" cellspacing="0" width="650" style="border-collapse: collapse; border-spacing: 0; padding: 0; width: 100%; max-width: 650px;">
							<tr>
								<td align="center" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 60px; padding-right: 60px; font-family: 'Theinhardt Web', sans-serif; font-size: 15px; font-weight: 400; line-height: 24px; color: #545e75; ">
									<div id="module-p__body" class="mktoText">
										Praesent sed diam fermentum, lobortis est non, vehicula sapien. Duis pretium ligula sed nibh varius porta.
									</div>
								</td>
							</tr>
						</table>
						<!-- end p -->

						{{ partial "email/padding-40.html" }}

						<!-- line -->
						<table id="module-line" class="mktoModule" align="center" border="0" cellpadding="0" cellspacing="0" width="650" style="border-collapse: collapse; border-spacing: 0; padding: 0; width: 100%; max-width: 650px;">
							<tr>
								<td align="center" class="container" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 40px; padding-right: 40px;">
									<hr align="center" noshade="" size="1" width="100%" style="margin: 0; padding: 0; border-color: #e5e6e8;" >
								</td>
							</tr>
						</table>
						<!-- end line -->

						{{ partial "email/padding-40.html" }}

						<!-- image text -->
						<table id="module-image-text" class="mktoModule" border="0" cellpadding="0" cellspacing="0" width="650" style="border-collapse: collapse; border-spacing: 0; padding: 0; width: 100%; max-width: 650px;">
							<tr>
								<td class="col" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; width: 50%; padding-left: 40px; padding-right: 20px;">
									<img id="module-image-text__image" class="mktoImg responsive-image" src="http://via.placeholder.com/800x500" hspace="0" border="0" style="padding: 0; margin: 0; outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; border: none; display: block; width: 100%; border-radius: 5px;">
								</td>
								<td class="col" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; width: 50%; padding-left: 20px; padding-right: 40px;">
									<div class="mktoText" id="module-image-text__title" style="font-family: 'Theinhardt Web', sans-serif; font-size: 18px; font-weight: 600; line-height: 130%; color: #001547;">
			            	Title
			            </div><br>
			            <div class="mktoText" id="module-image-text__body" style="font-family: 'Theinhardt Web', sans-serif; font-size: 15px; font-weight: 400; line-height: 24px; color: #545e75">
			              Tested on the most popular email clients for web, desktop and mobile. Checklist included.
			            </div>
								</td>
							</tr>
						</table>
						<!-- end image text -->

						{{ partial "email/padding-40.html" }}

						<!-- two col -->
						<table id="module-two-col" class="mktoModule" border="0" cellpadding="0" cellspacing="0" width="650" style="border-collapse: collapse; border-spacing: 0; padding: 0; width: 100%; max-width: 650px;">
							<tr>
								<td class="col" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; width: 50%; padding-left: 40px; padding-right: 20px;">
									<div id="module-two-col__image-a" class="mktoImg">
										<a>
											<img class="responsive-image" src="http://via.placeholder.com/800x500" hspace="0" border="0" style="padding: 0; margin: 0; outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; border: none; display: block; width: 100%; margin-bottom: 20px; border-radius: 5px;">
										</a>
									</div>
									<div class="mktoText" id="module-two-col__title-a" style="font-family: 'Theinhardt Web', sans-serif; font-size: 18px; font-weight: 600; line-height: 130%; color: #001547;">
			            	Title
			            </div><br>
			            <div class="mktoText" id="module-two-col__body-a" style="font-family: 'Theinhardt Web', sans-serif; font-size: 15px; font-weight: 400; line-height: 24px; color: #545e75">
			              Tested on the most popular email clients for web, desktop and mobile. Checklist included.
			            </div>
								</td>
								<td class="col" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; width: 50%; padding-left: 20px; padding-right: 40px;">
									<div id="module-two-col__image-b" class="mktoImg">
										<a>
											<img class="responsive-image" src="http://via.placeholder.com/800x500" hspace="0" border="0" style="padding: 0; margin: 0; outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; border: none; display: block; width: 100%; margin-bottom: 20px; border-radius: 5px;">
										</a>
									</div>


									<div class="mktoText" id="module-two-col__title-b" style="font-family: 'Theinhardt Web', sans-serif; font-size: 18px; font-weight: 600; line-height: 130%; color: #001547;">
			            	Title
			            </div><br>
			            <div class="mktoText" id="module-two-col__body-b" style="font-family: 'Theinhardt Web', sans-serif; font-size: 15px; font-weight: 400; line-height: 24px; color: #545e75">
			              Tested on the most popular email clients for web, desktop and mobile. Checklist included.
			            </div>
								</td>
							</tr>
						</table>
						<!-- end two col -->

						{{ partial "email/padding-40.html" }}

						<!-- three col -->
						<table id="module-three-col" class="mktoModule" border="0" cellpadding="0" cellspacing="0" width="650" style="border-collapse: collapse; border-spacing: 0; padding: 0; width: 100%; max-width: 650px;">
							<tr>
								<td class="col" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; width: 33%; padding-left: 40px; padding-right: 0px;">
									<div id="module-three-col__image-a" class="mktoImg">
										<a>
											<img class="responsive-image" src="http://via.placeholder.com/800x500" hspace="0" border="0" style="padding: 0; margin: 0; outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; border: none; display: block; width: 100%; margin-bottom: 20px; border-radius: 5px;">
										</a>
									</div>
									<div class="mktoText" id="module-three-col__title-a" style="font-family: 'Theinhardt Web', sans-serif; font-size: 18px; font-weight: 600; line-height: 130%; color: #001547;">
			            	Title
			            </div><br>
			            <div class="mktoText" id="module-three-col__body-a" style="font-family: 'Theinhardt Web', sans-serif; font-size: 15px; font-weight: 400; line-height: 24px; color: #545e75">
			              Tested on the most popular email clients for web, desktop and mobile. Checklist included.
			            </div>
								</td>
								<td class="col" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; width: 33%; padding-left: 20px; padding-right: 20px;">
									<div id="module-three-col__image-b" class="mktoImg">
										<a>
											<img class="responsive-image" src="http://via.placeholder.com/800x500" hspace="0" border="0" style="padding: 0; margin: 0; outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; border: none; display: block; width: 100%; margin-bottom: 20px; border-radius: 5px;">
										</a>
									</div>
									<div class="mktoText" id="module-three-col__title-b" style="font-family: 'Theinhardt Web', sans-serif; font-size: 18px; font-weight: 600; line-height: 130%; color: #001547;">
			            	Title
			            </div><br>
			            <div class="mktoText" id="module-three-col__body-b" style="font-family: 'Theinhardt Web', sans-serif; font-size: 15px; font-weight: 400; line-height: 24px; color: #545e75">
			              Tested on the most popular email clients for web, desktop and mobile. Checklist included.
			            </div>
								</td>
								<td class="col" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; width: 33%; padding-left: 0px; padding-right: 40px;">
									<div id="module-three-col__image-c" class="mktoImg">
										<a>
											<img class="responsive-image" src="http://via.placeholder.com/800x500" hspace="0" border="0" style="padding: 0; margin: 0; outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; border: none; display: block; width: 100%; margin-bottom: 20px; border-radius: 5px;">
										</a>
									</div>


									<div class="mktoText" id="module-three-col__title-c" style="font-family: 'Theinhardt Web', sans-serif; font-size: 18px; font-weight: 600; line-height: 130%; color: #001547;">
			            	Title
			            </div><br>
			            <div class="mktoText" id="module-three-col__body-c" style="font-family: 'Theinhardt Web', sans-serif; font-size: 15px; font-weight: 400; line-height: 24px; color: #545e75">
			              Tested on the most popular email clients for web, desktop and mobile. Checklist included.
			            </div>
								</td>
							</tr>
						</table>
						<!-- end three col -->


						{{ partial "email/padding-60.html" }}

						<!-- cta -->
						<table id="module-cta" class="mktoModule" border="0" cellpadding="0" cellspacing="0" width="650" style="border-collapse: collapse; border-spacing: 0; padding: 0; width: 100%; max-width: 650px; background-color:#0036d0">
							<tr>
								<td align="center" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0;">

									<!-- padding 60 -->
									<table align="center" border="0" cellpadding="0" cellspacing="0" width="650" style="border-collapse: collapse; border-spacing: 0; padding: 0; width: 100%; max-width: 650px;">
									  <tr>
									    <td align="center" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-top: 60px;">
									    </td>
									  </tr>
									</table>
									<!-- padding 60 -->

									<table align="center" border="0" cellpadding="0" cellspacing="0" width="650" style="border-collapse: collapse; border-spacing: 0; padding: 0; width: 100%; max-width: 650px;">
										<tr>
											<td align="center" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 40px; padding-right: 40px; font-family: 'Theinhardt Web', sans-serif; font-size: 22px; font-weight: 600; line-height: 130%; color: #ffffff;">
												<div id="module-cta__title" class="mktoText">
			                    Try it free for 30 days
			                  </div>
												<!-- padding 20 -->
												<table align="center" border="0" cellpadding="0" cellspacing="0" width="650" style="border-collapse: collapse; border-spacing: 0; padding: 0; width: 100%; max-width: 650px;">
												  <tr>
												    <td align="center" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-top: 20px;">
												    </td>
												  </tr>
												</table>
												<!-- padding 20 -->
											</td>
										</tr>
									</table>

									<table align="center" border="0" cellpadding="0" cellspacing="0" width="650" style="border-collapse: collapse; border-spacing: 0; padding: 0; width: 100%; max-width: 650px;">
										<tr>
											<td align="center" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 40px; padding-right: 40px; font-family: 'Theinhardt Web', sans-serif; font-size: 18px; font-weight: 500; line-height: 130%; color: #ffffff;">
												<div id="module-cta__subtitle" class="mktoText">
			                    All from the same place. Forget data entry.
			                  </div>
												<!-- padding 20 -->
												<table align="center" border="0" cellpadding="0" cellspacing="0" width="650" style="border-collapse: collapse; border-spacing: 0; padding: 0; width: 100%; max-width: 650px;">
												  <tr>
												    <td align="center" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-top: 20px;">
												    </td>
												  </tr>
												</table>
												<!-- padding 20 -->
											</td>
										</tr>
									</table>

									{{ partial "email/padding-20.html" }}

									<!-- button -->
									<table id="module-button" class="mktoModule" align="center" border="0" cellpadding="0" cellspacing="0" width="650" style="border-collapse: collapse; border-spacing: 0; padding: 0; width: 100%; max-width: 650px;">
										<tr>
											<td align="center" class="container" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 20px; padding-right: 20px;">
												<a href="${module-button-link}" style=" background-color: #ffdd24; border-radius: 5px; color: #ff5600; display: inline-block; font-family: 'Theinhardt Web', sans-serif; font-size: 12px; font-weight: 600; line-height: 50px; text-align: center; text-decoration: none; text-transform: uppercase; width: 220px; -webkit-text-size-adjust: none;">${module-button-text}</a>
											</td>
										</tr>
									</table>
									<!-- end button -->

									<table align="center" border="0" cellpadding="0" cellspacing="0" width="650" style="border-collapse: collapse; border-spacing: 0; padding: 0; width: 100%; max-width: 650px; display: ${module-cta__disclaimer-switch}">
										<tr>
											<td align="center" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 40px; padding-right: 40px; font-family: 'Theinhardt Web', sans-serif; font-size: 13px; font-weight: 400; line-height: 130%; color: #ffffff;">

												<!-- padding 40 -->
												<table align="center" border="0" cellpadding="0" cellspacing="0" width="650" style="border-collapse: collapse; border-spacing: 0; padding: 0; width: 100%; max-width: 650px;">
												  <tr>
												    <td align="center" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-top: 40px;">
												    </td>
												  </tr>
												</table>
												<!-- padding 40 -->

												<div id="module-cta__disclaimer" class="mktoText">
			                    No credit card required. Try it for 30 days for free.
			                  </div>
											</td>
										</tr>
									</table>

									<!-- padding 60 -->
									<table align="center" border="0" cellpadding="0" cellspacing="0" width="650" style="border-collapse: collapse; border-spacing: 0; padding: 0; width: 100%; max-width: 650px;">
									  <tr>
									    <td align="center" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-top: 60px;">
									    </td>
									  </tr>
									</table>
									<!-- padding 60 -->

								</td>
							</tr>
						</table>
						<!-- end cta -->

					</td>
				</tr>
			</table>
			<!-- end main -->

			<!-- footer -->
			<table id="module-footer" class="mktoModule" border="0" cellpadding="0" cellspacing="0" width="650" style="border-collapse: collapse; border-spacing: 0; padding: 0; width: 100%; max-width: 650px;">
				<tr>
					<td align="center" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0;">

						<!-- padding 60 -->
						<table align="center" border="0" cellpadding="0" cellspacing="0" width="650" style="border-collapse: collapse; border-spacing: 0; padding: 0; width: 100%; max-width: 650px;">
							<tr>
								<td align="center" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-top: 60px;">
								</td>
							</tr>
						</table>
						<!-- padding 60 -->

						<!-- logo white -->
						<table align="center" border="0" cellpadding="0" cellspacing="0" width="650" style="border-collapse: collapse; border-spacing: 0; padding: 0; width: 100%; max-width: 650px;">
						  <tr>
						    <td align="center" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0;">
						      <img src="https://fergus.com/assets/images/fergus-horizontal-white@2x.png" width="150" style="display: block; width: 150px;">
						    </td>
						  </tr>
						</table>
						<!-- end logo white -->

						<!-- padding 20 -->
						<table align="center" border="0" cellpadding="0" cellspacing="0" width="650" style="border-collapse: collapse; border-spacing: 0; padding: 0; width: 100%; max-width: 650px;">
							<tr>
								<td align="center" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-top: 20px;">
								</td>
							</tr>
						</table>
						<!-- padding 20 -->

						<table align="center" border="0" cellpadding="0" cellspacing="0" width="650" style="border-collapse: collapse; border-spacing: 0; padding: 0; width: 100%; max-width: 650px;">
							<tr>
								<td align="center" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 40px; padding-right: 40px; font-family: 'Theinhardt Web', sans-serif; font-size: 18px; font-weight: 500; line-height: 130%; color: #ffffff;">
									<div id="module-cta__subtitle" class="mktoText">
										Everything you need. All in one place.
									</div>
								</td>
							</tr>
						</table>

						<!-- padding 20 -->
						<table align="center" border="0" cellpadding="0" cellspacing="0" width="650" style="border-collapse: collapse; border-spacing: 0; padding: 0; width: 100%; max-width: 650px;">
							<tr>
								<td align="center" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-top: 20px;">
								</td>
							</tr>
						</table>
						<!-- padding 20 -->

						<table align="center" border="0" cellpadding="0" cellspacing="0" width="650" style="border-collapse: collapse; border-spacing: 0; padding: 0; width: 100%; max-width: 650px;">
							<tr>
								<td align="center" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 40px; padding-right: 40px; font-family: 'Theinhardt Web', sans-serif; font-size: 13px; font-weight: 500; line-height: 130%; color: #ffffff;">
									65 New North Road, Eden Terrace, Auckland 1021
								</td>
							</tr>
						</table>

						<!-- padding 20 -->
						<table align="center" border="0" cellpadding="0" cellspacing="0" width="650" style="border-collapse: collapse; border-spacing: 0; padding: 0; width: 100%; max-width: 650px;">
							<tr>
								<td align="center" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-top: 20px;">
								</td>
							</tr>
						</table>
						<!-- padding 20 -->

						<table align="center" border="0" cellpadding="0" cellspacing="0" width="100" style="border-collapse: collapse; border-spacing: 0; padding: 0;">
              <tr>
                <!-- ICON 1 -->
                <td align="center" style="margin: 0; padding: 0; padding-left: 10px; padding-right: 10px; border-collapse: collapse; border-spacing: 0;" valign="middle">
                  <a href="https://www.facebook.com/fergusapp/" style="text-decoration: none;" target="_blank"><img alt="Facebook" border="0" height="24" hspace="0" src="https://info.fergus.com/rs/163-RUO-573/images/facebook.png" style="padding: 0; margin: 0; outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; border: none; display: inline-block; color: #000000;" title="Facebook" vspace="0" width="24"></a>
                </td><!-- ICON 2 -->
                <td align="center" style="margin: 0; padding: 0; padding-left: 10px; padding-right: 10px; border-collapse: collapse; border-spacing: 0;" valign="middle">
                  <a href="https://nz.linkedin.com/company/fergus-software-limited" style="text-decoration: none;" target="_blank"><img alt="Linkedin" border="0" height="24" hspace="0" src="https://info.fergus.com/rs/163-RUO-573/images/linkedin.png" style="padding: 0; margin: 0; outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; border: none; display: inline-block; color: #000000;" title="Linkedin" vspace="0" width="24"></a>
                </td>
              </tr>
            </table>

						<!-- padding 60 -->
						<table align="center" border="0" cellpadding="0" cellspacing="0" width="650" style="border-collapse: collapse; border-spacing: 0; padding: 0; width: 100%; max-width: 650px;">
							<tr>
								<td align="center" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-top: 60px;">
								</td>
							</tr>
						</table>
						<!-- padding 60 -->

						<table align="center" border="0" cellpadding="0" cellspacing="0" width="650" style="border-collapse: collapse; border-spacing: 0; padding: 0;">
							<tr>
			          <td align="center" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 40px; padding-right: 40px; font-family: 'Theinhardt Web', sans-serif; font-size: 13px; font-weight: 500; line-height: 130%; color: #ffffff;">
			            <span style="color: rgba(255,255,255,.5);">If you no longer wish to receive these emails, click on the following link:</span> <a href="https://info.fergus.com/UnsubscribePage.html" style="text-decoration: underline; color: #ffffff; font-family: 'Theinhardt Web', sans-serif; font-size: 13px; font-weight: 400; line-height: 150%;">Unsubscribe</a>
			          </td>
			        </tr>
						</table>

						<!-- padding 60 -->
						<table align="center" border="0" cellpadding="0" cellspacing="0" width="650" style="border-collapse: collapse; border-spacing: 0; padding: 0; width: 100%; max-width: 650px;">
							<tr>
								<td align="center" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-top: 60px;">
								</td>
							</tr>
						</table>
						<!-- padding 60 -->

						<table align="center" border="0" cellpadding="0" cellspacing="0" width="650" style="border-collapse: collapse; border-spacing: 0; padding: 0;">
							<tr>
			          <td align="center" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 40px; padding-right: 40px; font-family: 'Theinhardt Web', sans-serif; font-size: 16px; font-weight: 500; line-height: 130%; color: #ffffff;">
									&copy; Fergus
			          </td>
			        </tr>
						</table>

						<!-- padding 60 -->
						<table align="center" border="0" cellpadding="0" cellspacing="0" width="650" style="border-collapse: collapse; border-spacing: 0; padding: 0; width: 100%; max-width: 650px;">
							<tr>
								<td align="center" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-top: 60px;">
								</td>
							</tr>
						</table>
						<!-- padding 60 -->

					</td>
				</tr>
			</table>
			<!-- end footer -->


		</td>
	</tr>
</table>
<!-- END / MAIN BG -->

</body>
</html>
