/*
Title: SlashCSS
Version: 0.1.0
Updated: 2018-05-28
Author: Jin Su Park
Site: slashcss.com
*/

/************************************************************
1. OVERRIDE VARIABLES
************************************************************/

@import "override.variables";

/************************************************************
2. DEFAULT VARIABLES
************************************************************/

@import "default.variables";

/************************************************************
3. COMPONENTS
************************************************************/

@import "components/import.components";

/************************************************************
4. OVERRIDE ROOT VARIABLES
************************************************************/

:root {
  --font-family: 'Theinhardt Web', sans-serif;
}

/************************************************************
5. THIRD PARTY
************************************************************/

/************************************************************
6. EXTENSIONS
************************************************************/

.button {
  font-size: 1.3rem;
  font-weight: var(--bold);
  text-transform: uppercase;
  letter-spacing: .5px;
  padding-top: 1px;
}
