<aside class="slidemenu slidemenu-direction:left">
  <div class="slidemenu/overlay">

  </div>
  <div class="slidemenu/content">
    <div class="slidemenu/header margin-bottom:2">
      <img src="/assets/images/fergus-horizontal.svg" class="image image:logo">
      <div class="slidemenu/close">

      </div>
    </div>

    <div class="padding-x:2 margin-bottom:2">
      <a href="https://fergusapp.com/auth/login" class="button button:fluid color:yellow">
        Login
      </a>
    </div>

    <menu class="padding-bottom:2">
      <div class="list align:center">
        <div class="list/item border:top">
          <a href="/features" class="column:12 font font-size:h6 font-weight:medium color:black padding:2">
          Features
          </a>
        </div>
        <div class="list/item border:top">
          <a href="/company/about" class="column:12 font font-size:h6 font-weight:medium color:black padding:2">
            Company
          </a>
        </div>
        <div class="list/item border:top">
          <a href="/pricing" class="column:12 font font-size:h6 font-weight:medium color:black padding:2">
            Pricing
          </a>
        </div>
        <div class="list/item border:top">
          <a href="/blog" class="column:12 font font-size:h6 font-weight:medium color:black padding:2">
            Blog
          </a>
        </div>
        <div class="list/item border:top">
          <a href="/company/careers" class="column:12 font font-size:h6 font-weight:medium color:black padding:2">
            Careers
          </a>
        </div>
        <div class="list/item border:top border:bottom">
          <a href="https://help.fergusapp.com/" class="column:12 font font-size:h6 font-weight:medium color:black padding:2">
            Help & Support
          </a>
        </div>
      </div>
    </menu>



  </div>
</aside>
