{{ if eq .Params.Author "Katherine" }}
  <div class="row:media row-gutter:2 align-item:middle align-content:center align:left">
    <div class="column">
      <img src="/uploads/headshot-katherine.jpg" class="image image:profile image-shape:round image-size:4" />
    </div>
    <div class="column">
      <h5 class="font font-size:body font-weight:bold color:black">
        {{ .Params.Author }}
      </h5>
      <p class="color:black">
        Content Producer
      </p>
    </div>
  </div>
{{end}}


{{ if eq .Params.Author "Amy" }}
  <div class="row:media row-gutter:2 align-item:middle align-content:center align:left">
    <div class="column">
      <img src="/uploads/headshot-amy.jpg" class="image image:profile image-shape:round image-size:4" />
    </div>
    <div class="column">
      <h5 class="font font-size:body font-weight:bold color:black">
        {{ .Params.Author }}
      </h5>
      <p class="color:black">
        Marketing Operations
      </p>
    </div>
  </div>
{{end}}


{{ if eq .Params.Author "Robbie" }}
  <div class="row:media row-gutter:2 align-item:middle align-content:center align:left">
    <div class="column">
      <img src="/uploads/headshot-robbie.jpg" class="image image:profile image-shape:round image-size:4" />
    </div>
    <div class="column">
      <h5 class="font font-size:body font-weight:bold color:black">
        {{ .Params.Author }}
      </h5>
      <p class="color:black">
        Digital Marketing Specialist
      </p>
    </div>
  </div>
{{end}}

{{ if eq .Params.Author "Dan" }}
  <div class="row:media row-gutter:2 align-item:middle align-content:center align:left">
    <div class="column">
      <img src="/uploads/headshot-dan.jpg" class="image image:profile image-shape:round image-size:4" />
    </div>
    <div class="column">
      <h5 class="font font-size:body font-weight:bold color:black">
        {{ .Params.Author }}
      </h5>
      <p class="color:black">
        CEO
      </p>
    </div>
  </div>
{{end}}
