<section class="padding-top:5vh padding-top-sm:5vh fill:black">
  <div class="wrap wrap:padding-x">
    <div class="row">

      <div class="column:5/5 column-sm:3 margin-bottom:5">
        <img src="/assets/images/fergus-horizontal-white.svg" class="image image:logo margin-bottom:3" />

        <a class="button fill:primary color:yellow button:elevate button-grow:1 js-modal-register-trigger">30 day free trial</a>
      </div>

      <div class="column:5/5 column-sm:9">
        <div class="row display-sm:inline2-flex">
          <div class="column:6 column-sm:3 margin-bottom:5">
            <div class="row row-direction:vertical display:inline-flex float-sm:right">
              <ul class="list list-gutter:1">
                <li class="list/item font-size:h5 font-weight:bold color:white margin-bottom:2">
                  Fergus
                </li>
                <li class="list/item">
                  <a href="/company/about" class="color:white opacity:4 hover-opacity:10">
                    About us
                  </a>
                </li>
                <li class="list/item">
                  <a href="/company/about" class="color:white opacity:4 hover-opacity:10">
                    Contact us
                  </a>
                </li>
                <li class="list/item">
                  <a href="/blog" class="color:white opacity:4 hover-opacity:10">
                    Blog
                  </a>
                </li>
                <li class="list/item">
                  <a href="/company/careers" class="color:white opacity:4 hover-opacity:10">
                    Careers
                  </a>
                </li>
              </ul>
            </div>
          </div>

          <div class="column:6 column-sm:3 margin-bottom:5">
            <div class="row row-direction:vertical display:inline-flex float-sm:right">
              <ul class="list list-gutter:1">
                <li class="list/item font-size:h5 font-weight:bold color:white margin-bottom:2">
                  Product
                </li>
                <li class="list/item">
                  <a class="color:white opacity:4 hover-opacity:10">
                    Free trial
                  </a>
                </li>
                <li class="list/item">
                  <a href="/pricing" class="color:white opacity:4 hover-opacity:10">
                    FAQs
                  </a>
                </li>
                <li class="list/item">
                  <a href="/pricing" class="color:white opacity:4 hover-opacity:10">
                    Pricing
                  </a>
                </li>
                <li class="list/item">
                  <a class="color:white opacity:4 hover-opacity:10 js-modal-demo-trigger">
                    Book a demo
                  </a>
                </li>
                <li class="list/item">
                  <a href="/partner" class="color:white opacity:4 hover-opacity:10">
                    Partner with us
                  </a>
                </li>
              </ul>
            </div>
          </div>

          <div class="column:6 column-sm:3 margin-bottom:5">
            <div class="row row-direction:vertical display:inline-flex float-sm:right">
              <ul class="list list-gutter:1">
                <li class="list/item font-size:h5 font-weight:bold color:white margin-bottom:2">
                  Features
                </li>
                <li class="list/item">
                  <a href="/features/run-your-office" class="color:white opacity:4 hover-opacity:10">
                    Manage your jobs
                  </a>
                </li>
                <li class="list/item">
                  <a href="/features/manage-your-team" class="color:white opacity:4 hover-opacity:10">
                    Manage your team
                  </a>
                </li>
                <li class="list/item">
                  <a href="/features/grow-your-business" class="color:white opacity:4 hover-opacity:10">
                    Grow your business
                  </a>
                </li>
                <li class="list/item">
                  <a href="/features/ferguspay" class="color:white opacity:4 hover-opacity:10">
                    Fergus Pay
                  </a>
                </li>
                <li class="list/item">
                  <a href="/features" class="color:white opacity:4 hover-opacity:10">
                    All features
                  </a>
                </li>
              </ul>
            </div>
          </div>

          <div class="column:6 column-sm:3 margin-bottom:5">
            <div class="row row-direction:vertical display:inline-flex float-sm:right">
              <ul class="list list-gutter:1">
                <li class="list/item font-size:h5 font-weight:bold color:white margin-bottom:2">
                  Support
                </li>
                <li class="list/item">
                  <a href="https://help.fergusapp.com/" class="color:white opacity:4 hover-opacity:10">
                    Help center
                  </a>
                </li>
                <li class="list/item">
                  <a href="tel:+6499729942" class="color:white opacity:4 hover-opacity:10">
                    NZ +64 9 972 9942
                  </a>
                </li>
                <li class="list/item">
                  <a href="tel:+61398731079" class="color:white opacity:4 hover-opacity:10">
                    AU +61 3 9873 1079
                  </a>
                </li>
                <li class="list/item">
                  <a href="tel:+442036704003" class="color:white opacity:4 hover-opacity:10">
                    UK +44 203 670 4003
                  </a>
                </li>
                <li class="list/item">
                  <a href="mailto:support@fergus.com" class="color:white opacity:4 hover-opacity:10">
                    support@fergus.com
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="row margin-top:5vh padding-bottom:3 align-content:between">

      <div class="column:12 column-sm:6 align-item:middle display:flex margin-bottom:2 margin-bottom-sm:none">
        <ul class="list list:inline list-gutter:2">
          <li class="list/item">
            <span class="font-size:micro font-weight:bold color:white opacity:4">
              	&copy; Fergus
            </span>
          </li>
          <li class="list/item">
            <a href="/terms-of-service" class="font-size:micro font-weight:bold color:white opacity:4 hover-opacity:10">
              Terms of Service
            </a>
          </li>
          <li class="list/item">
            <a href="/privacy-policy" class="font-size:micro font-weight:bold color:white opacity:4 hover-opacity:10">
              Privacy Policy
            </a>
          </li>
        </ul>
      </div>

      <div class="column:12 column-sm:6 display:flex align-item:middle align-content-sm:right ">
        <ul class="list list:inline list-gutter:2 margin-bottom-sm:none float:right">
          <li class="list/item">
            <a href="https://www.facebook.com/fergusapp/" class="color:white font-size:h4">
              <i class="fab fa-facebook"></i>
            </a>
          </li>
          <li class="list/item">
            <a href="https://www.instagram.com/fergusapp/" class="color:white font-size:h4">
              <i class="fab fa-instagram"></i>
            </a>
          </li>
          <li class="list/item">
            <a href="https://twitter.com/fergusapp" class="color:white font-size:h4">
              <i class="fab fa-twitter"></i>
            </a>
          </li>
          <li class="list/item">
            <a href="https://www.linkedin.com/company/15175648" class="color:white font-size:h4">
              <i class="fab fa-linkedin"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
